<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>formulario pacientes</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <!-- A partir de aqui metanle el body de la pagina -->
    <div class="font-sans">
      <div
        class="flex flex-wrap min-h-screen sm:justify-center items-center h-full bg-gradient-to-tl from-blue-400 to-red-900 w-full py-16 px-4"
      >
        <!--agrego flex + flex-wrap y saque back ground gris, bg- degradado-->
        <div class="relative sm:max-w-sm w-full h-full">
          <div
            class="flex-auto card bg-blue-200 shadow-lg w-full h-full rounded-3xl absolute transform -rotate-3"
          ></div>
          <div
            class="flex-auto card bg-red-400 shadow-lg w-full h-full rounded-3xl absolute transform rotate-3"
          ></div>
          <form
            method="POST" action="{{url_for('enviado_pacientes')}}"
            class="relative w-full h-full rounded-3xl px-10 py-20 bg-gray-100 shadow-md"
          >
            <br />
            <b>
              <h1 class="my-5 text-2xl text-red-600 text-center">
                Signos y sintomas
              </h1>
            </b>
          <input
            class="appearance-none block w-mid bg-gray-200 text-gray-700 border border-gray-200 rounded py-1 px-2 mb-1 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            name="nombre_completo"
            placeholder="Nombre y Apellido"
          />
          <input
            class="appearance-none block w-mid bg-gray-200 text-gray-700 border border-gray-200 rounded py-1 px-2 mb-1 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            name="cedula"
            placeholder="Cédula de Identidad"
          />
            <div>
              <b>
                <h2 class="mt-3 mb-4 formulario1">Respiración</h2>
              </b>
              <div class="flex items-center mb-4">
                <input
                  id="respiracion-none"
                  checked
                  type="radio"
                  value="Sin problemas"
                  name="respiracion"
                  class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                />
                <label
                  for="respiracion-none"
                  class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-500"
                  >Sin problemas</label
                >
              </div>
              <div class="flex items-center mb-4">
                <input
                  id="chillidos"
                  type="radio"
                  value="Chillidos al respirar"
                  name="respiracion"
                  class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                />
                <label
                  for="chillidos"
                  class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-500"
                  >Chillidos al respirar</label
                >
              </div>
              <div class="flex items-center">
                <input
                  id="dificultad"
                  type="radio"
                  value="Dificultad al respirar"
                  name="respiracion"
                  class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                />
                <label
                  for="dificultad"
                  class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-600"
                  >Dificultad al respirar</label
                >
              </div>
            </div>
            <b>
              <h2 class="mt-3 mb-4">Piel</h2>
            </b>
            <div class="flex items-center mb-4">
              <input
                id="sin_razgos"
                checked
                type="radio"
                value="sin problemas"
                name="piel"
                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
              />
              <label
                for="sin_razgos"
                class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-600"
                >Sin razgos negativos</label
              >
            </div>
            <div class="flex items-center mb-4">
              <input
                id="coloracion"
                type="radio"
                value="Coloracion en unhas y labios"
                name="piel"
                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
              />
              <label
                for="coloracion"
                class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-500"
                >Coloración morada en uñas o labios</label
              >
            </div>
            <b>
              <h2 class="mt-3 mb-4">Fiebre</h2>
            </b>
            <div class="flex items-center mb-4">
              <input
                id="fiebre"
                checked
                type="radio"
                value="sin problemas"
                name="fiebre"
                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
              />
              <label
                for="fiebre"
                class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-500"
                >Sin fiebre</label
              >
            </div>
            <div class="flex items-center mb-4">
              <input
                id="fiebre1"
                type="radio"
                value="fiebre media"
                name="fiebre"
                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
              />
              <label
                for="fiebre"
                class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-600"
                >Media</label
              >
            </div>
            <div class="flex items-center">
              <input
                id="fiebre2"
                type="radio"
                value="fiebre alta"
                name="fiebre"
                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
              />
              <label
                for="fiebre2"
                class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-500"
                >Alta</label
              >
            </div>
            <b>
              <h2 class="mt-3 mb-4">Neurologicos</h2>
            </b>
            <div class="flex items-center mb-4">
              <input
                id="nauro2"
                checked
                type="radio"
                value="sin problemas"
                name="neurologicos"
                class="w-4 h-4 text-blue-600 bg-gray-100 border-graytext-gray-600 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
              />
              <label
                for="neuro2"
                class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-600"
                >Ninguna</label
              >
            </div>
            <div class="flex items-center mb-4">
              <input
                id="neuro1"
                type="radio"
                value="convulsiones"
                name="neurologicos"
                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
              />
              <label
                for="neuro1"
                class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-500"
                >Convulsiones</label
              >
            </div>
            <b>
              <h2 class="mt-3 mb-4">Nivel de conciencia</h2>
            </b>
            <div class="flex items-center mb-4">
              <input
                id="conci1"
                checked
                type="radio"
                value="sin problemas"
                name="conciencia"
                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
              />
              <label
                for="conci1"
                class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-600"
                >Consciente</label
              >
            </div>
            <div class="flex items-center mb-4">
              <input
                id="conci2"
                type="radio"
                value="inconciente"
                name="conciencia"
                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
              />
              <label
                for="conci2"
                class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-600"
                >Inconsciente</label
              >
            </div>
            <div class="flex items-center mb-4">
              <input
                id="conci3"
                type="radio"
                value="confundido"
                name="conciencia"
                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
              />
              <label
                for="conci3"
                class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-600"
                >Confundido</label
              >
            </div>
            <b>
              <h2 class="mt-3 mb-4">Nivel del dolor</h2>
            </b>
            <div class="flex items-center mb-4">
              <input
                id="pain1"
                checked
                type="radio"
                value="sin problemas"
                name="dolor"
                class="w-4 h-4 text-blue-600 bg-gray-100 border-graytext-gray-600 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
              />
              <label
                for="pain1"
                class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-500"
                >Sin dolor
              </label>
            </div>
            <div class="flex items-center mb-4">
              <input
                id="pain1"
                type="radio"
                value="dolor medio"
                name="dolor"
                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
              />
              <label
                for="pain1"
                class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-500"
                >Medio
              </label>
            </div>
            <div class="flex items-center mb-4">
              <input
                id="pain2"
                type="radio"
                value="dolor intenso"
                name="dolor"
                class="w-4 h-4 text-blue-600 bg-gray-100 border-graytext-gray-600 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
              />
              <label
                for="pain2"
                class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-500"
                >Intenso
              </label>
            </div>

            <div>
              <b>
                <h1 class="mb-10" class="space-y-8">Localización del dolor</h1>
              </b>
              <div class="flex items-center mb-4">
                <input
                  id="cabeza"
                  name="lugar_dolor"
                  type="checkbox"
                  value="dolor de cabeza"
                  class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                />
                <label
                  for="cabeza"
                  class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-600"
                  >Cabeza</label
                >
              </div>
              <div class="flex items-center mb-4">
                <input
                  id="cuellotronco"
                  name="lugar_dolor"
                  type="checkbox"
                  value="dolor de cuello y tronco"
                  class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                />
                <label
                  for="cuellotronco"
                  class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-600"
                  >Cuello / tronco
                </label>
              </div>
            </div>
            <div>
              <div class="flex items-center mb-4">
                <input
                  id="Hombro"
                  name="lugar_dolor"
                  type="checkbox"
                  value="dolor de hombro"
                  class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                />
                <label
                  for="Hombro"
                  class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-600"
                  >Hombro</label
                >
              </div>
              <div class="flex items-center mb-4">
                <input
                  id="Pecho"
                  type="checkbox"
                  name="lugar_dolor"
                  value="dolor de pecho"
                  class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                />
                <label
                  for="Pecho"
                  class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-600"
                  >Pecho</label
                >
              </div>
            </div>
            <div>
              <div class="flex items-center mb-4">
                <input
                  id="Abdomen"
                  name="lugar_dolor"
                  type="checkbox"
                  value="dolor de abdomen"
                  class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                />
                <label
                  for="Abdomen"
                  class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-600"
                  >Abdomen</label
                >
              </div>
              <div class="flex items-center mb-4">
                <input
                  id="Genital"
                  name="lugar_dolor"
                  type="checkbox"
                  value="dolor genital"
                  class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                />
                <label
                  for="Genital"
                  class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-600"
                  >Genital</label
                >
              </div>
              <b>
                <h2 class="mt-3 mb-4">Vómitos / Diarrea</h2>
              </b>
              <div class="flex items-center mb-4">
                <input
                  id="vomit2"
                  checked
                  type="radio"
                  value="sin problemas"
                  name="vomito_diarrea"
                  class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                />
                <label
                  for="vomit2"
                  class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-600"
                  >No
                </label>
              </div>
              <div class="flex items-center mb-4">
                <input
                  id="vomit"
                  type="radio"
                  value="vomito o diarrea"
                  name="vomito_diarrea"
                  class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                />
                <label
                  for="vomit"
                  class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-500"
                  >Si
                </label>
              </div>
            </div>
            <b>
              <h2 class="mt-3 mb-4">Pulso</h2>
            </b>
            <div class="flex items-center mb-4">
              <input
                id="pulso3"
                checked
                type="radio"
                value="sin problemas"
                name="pulso"
                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
              />
              <label
                for="pulso3"
                class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-500"
                >Normal
              </label>
            </div>
            <div class="flex items-center mb-4">
              <input
                id="pulso1"
                type="radio"
                value="pulso acelerado"
                name="pulso"
                class="w-4 h-4 text-blue-600 bg-gray-100 border-graytext-gray-600 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
              />
              <label
                for="pulso1"
                class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-600"
                >Rapido
              </label>
            </div>
            <div class="flex items-center mb-4">
              <input
                id="pulso2"
                type="radio"
                value="pulso lento"
                name="pulso"
                class="w-4 h-4 text-blue-600 bg-gray-100 border-graytext-gray-600 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
              />
              <label
                for="pulso2"
                class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-600"
                >Lento
              </label>
            </div>
            <b>
              <h2 class="mt-3 mb-4">Sangrado</h2>
            </b>
            <div class="flex items-center mb-4">
              <input
                id="sang"
                checked
                type="radio"
                value="sin problemas"
                name="sangrado"
                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
              />
              <label
                for="sang"
                class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-500"
                >Sin sangrado
              </label>
            </div>
            <div class="flex items-center mb-4">
              <input
                id="sang1"
                type="radio"
                value="poco sangrado"
                name="sangrado"
                class="w-4 h-4 text-blue-600 bg-gray-100 border-graytext-gray-600 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
              />
              <label
                for="sang1"
                class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-500"
                >Poco
              </label>
            </div>
            <div class="flex items-center mb-4">
              <input
                id="sang2"
                type="radio"
                value="mucho sangrado"
                name="sangrado"
                class="w-4 h-4 text-blue-600 bg-gray-100 border-graytext-gray-600 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
              />
              <label
                for="sang2"
                class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-500"
                >Mucho
              </label>
            </div>
            <b>
              <h1 class="">Localización</h1>
            </b>
            <input
              class="appearance-none block w-mid bg-gray-200 text-gray-700 border border-gray-200 rounded py-1 px-2 mb-1 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              id="grid-password"
              name="lugar_sangrado"
              placeholder="en que parte?"
            />
            <p class="text-gray-600 text-xs italic"></p>
            <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
              <label
                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                for="grid-city"
              >
              </label>

              <div>
                <b>
                  <h1 class="mb-10" class="space-y-8">Alergias</h1>
                </b>
                <div class="flex items-center mb-4">
                  <input
                    id="Insulina"
                    name="alergias"
                    type="checkbox"
                    value="alergia a la insulina"
                    class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                  />
                  <label
                    for="Insulina"
                    class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-600"
                    >Insulina</label
                  >
                </div>
                <div class="flex items-center mb-4">
                  <input
                    id="Sulfaminas"
                    name="alergias"
                    type="checkbox"
                    value="alergia a las sulfaminas"
                    class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                  />
                  <label
                    for="Sulfaminas"
                    class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-600"
                    >Sulfaminas</label
                  >
                </div>
                <div class="flex items-center mb-4">
                  <input
                    id="Anticonvulsivos"
                    name="alergias"
                    type="checkbox"
                    value="alergia a los anticonvulsivos"
                    class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                  />
                  <label
                    for="Anticonvulsivos"
                    class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-600"
                    >Anticonvulsivos
                  </label>
                </div>
              </div>
              <div>
                <div class="flex items-center mb-4">
                  <input
                    id="Yodo"
                    name="alergias"
                    type="checkbox"
                    value="alergia al yodo"
                    class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                  />
                  <label
                    for="Yodo"
                    class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-600"
                    >Yodo</label
                  >
                </div>
                <div class="flex items-center mb-4">
                  <input
                    id="Penicilina"
                    name="alergias"
                    type="checkbox"
                    value="alergia a la penicilina"
                    class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                  />
                  <label
                    for="Penicilina"
                    class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-600"
                    >Penicilina</label
                  >
                </div>
              </div>
              <div>
                <div class="flex items-center mb-4">
                  <input
                    id="Amoxicilina"
                    name="alergias"
                    type="checkbox"
                    value="alergia a la amoxicilina"
                    class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                  />
                  <label
                    for="Amoxicilina"
                    class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-600"
                    >Amoxicilina</label
                  >
                </div>
                <div class="flex items-center mb-4">
                  <input
                    id="Morfina"
                    name="alergias"
                    type="checkbox"
                    value="alergia a la morfina"
                    class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                  />
                  <label
                    for="Morfina"
                    class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-600"
                    >Morfina</label
                  >
                </div>
                <h1 class="">Otra</h1>
                <input
                  class="appearance-none block w-mid bg-gray-200 text-gray-700 border border-gray-200 rounded py-1 px-2 mb-1 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                  id="grid-password"
                  name="otras_alergias"
                  type="text"
                  placeholder="escriba aqui"
                />
                <p class="text-gray-600 text-xs italic">Otras alergias</p>
              </div>
            </div>
            <div class="flex flex-wrap -mx-3 mb-2">
              <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                <label
                  class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                  for="grid-city"
                >
                </label>
                <b>
                  <h1 class="mb-4" class="space-y-8">Enfermedades crónicas</h1>
                </b>
                <div class="flex items-center mb-4">
                  <input
                    id="Epoc"
                    name="cronicas"
                    type="checkbox"
                    value="tiene epoc"
                    class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                  />
                  <label
                    for="Epoc"
                    class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-600"
                    >Epoc</label
                  >
                </div>
                <div class="flex items-center mb-4">
                  <input
                    id="Fuma"
                    name="cronicas"
                    type="checkbox"
                    value="fumador"
                    class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                  />
                  <label
                    for="Fuma"
                    class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-600"
                    >Fuma</label
                  >
                </div>
                <div class="flex items-center mb-4">
                  <input
                    id="Asma"
                    name="cronicas"
                    type="checkbox"
                    value="asmatico"
                    class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                  />
                  <label
                    for="Asma"
                    class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-600"
                    >Asma
                  </label>
                </div>
                <div class="flex items-center mb-4">
                  <input
                    id="Cardiaco"
                    name="cronicas"
                    type="checkbox"
                    value="cardiaco"
                    class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300"
                  />
                  <label
                    for="Cardiaco"
                    class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-600"
                    >Cardiaco</label
                  >
                </div>
                <div class="flex items-center mb-4">
                  <input
                    id="Obesidad"
                    name="cronicas"
                    type="checkbox"
                    value="obeso"
                    class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300"
                  />
                  <label
                    for="Obesidad"
                    class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-600"
                    >Obesidad</label
                  >
                </div>
                <h1 class="">Otra</h1>
                <input
                  class="appearance-none block w-mid bg-gray-200 text-gray-700 border border-gray-200 rounded py-1 px-2 mb-1 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                  id="grid-password"
                  name="otras_cronicas"
                  type="text"
                  placeholder="escriba aqui"
                />
                <p class="text-gray-600 text-xs italic">Otras cronicas</p>
              </div>
            </div>
            <div class="flex flex-col flex-nowrap -mx-3 mb-2">
              <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                <label
                  class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                  for="grid-city"
                >
                </label>
                <b>
                  <h1 class="m">Último alimento ingerido</h1>
                </b>
                <input
                  class="appearance-none block w-mid bg-gray-200 text-gray-700 border border-gray-200 rounded py-1 px-2 mb-1 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                  id="grid-password"
                  name="alimento"
                  type="text"
                  placeholder="escriba aqui"
                />
                <p class="text-gray-600 text-xs italic">Qué comiste?</p>
                <!-- <div> -->
                <!-- <h1 class="mb-4">Seleccionar opciones</h1>
                        <label
                          for="countries"
                          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400"
                          >perdida de alguna extremidad</label
                        >
                        <select
                          id="etc"
                          class="mb-10 bg-gray-50 border border-graytext-gray-600 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        >
                          <option selected>extremidades</option>
                          <option value="cabeza">cabeza</option>
                          <option value="pierna">pierna</option>
                          <option value="brazo">brazo</option>
                          <option value="otro">otro</option>
                        </select> -->
                <!-- </div> -->
                <div>
                  <b>
                    <h1>Evento</h1>
                  </b>
                  <div class="flex items-center mb-4">
                    <input
                      id="Accidente"
                      name="evento"
                      type="checkbox"
                      value="accidentado"
                      class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                    />
                  <label
                    for="Accidente"
                    class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-600"
                    >Accidente</label
                  >
                </div>
                <div class="flex items-center mb-4">
                  <input
                    id="Intoxicacion"
                    name="evento"
                    type="checkbox"
                    value="intoxicado"
                    class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                  />
                  <label
                    for="Intoxicacion"
                    class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-600"
                    >Intoxicacion</label
                  >
                </div>
                <div class="flex items-center mb-4">
                  <input
                    id="Envenenamiento"
                    name="evento"
                    type="checkbox"
                    value="envenenado"
                    class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                  />
                  <label
                    for="Envenenamiento"
                    class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-600"
                    >Envenenamiento</label
                  >
                </div>
                <div class="flex items-center mb-4">
                  <input
                    id="Subito"
                    name="evento"
                    type="checkbox"
                    value="con evento subito"
                    class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                  />
                  <label
                    for="Subito"
                    class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-600"
                    >Súbito</label
                  >
                </div>
                <div class="flex items-center mb-4">
                  <input
                    id="Embarazo"
                    name="evento"
                    type="checkbox"
                    value="embarazada"
                    class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                  />
                  <label
                    for="Embarazo"
                    class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-600"
                    >Embarazo</label
                  >
                </div>
                <div class="flex items-center mb-4">
                  <input
                    id="Digestivos"
                    name="evento"
                    type="checkbox"
                    value="con problemas digestivos"
                    class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                  />
                  <label
                    for="Digestivos"
                    class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-600"
                    >Digestivos</label
                  >
                </div>
                <div class="flex items-center mb-4">
                  <input
                    id="Ginecologicos"
                    name="evento"
                    type="checkbox"
                    value="con problemas ginecologicos o urinarios"
                    class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                  />
                  <label
                    for="Ginecologicos"
                    class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-600"
                    >Ginecologicos/urinarios</label
                  >
                </div>
                <div class="flex items-center mb-4">
                  <input
                    id="Oculares"
                    name="evento"
                    type="checkbox"
                    value="con problemas oculares"
                    class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                  />
                  <label
                    for="Oculares"
                    class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-600"
                    >Oculares</label
                  >
                </div>
                <div>
                  <b>
                    <h1 class="">Tipo de sangre</h1>
                  </b>
                  <input
                    class="appearance-none block w-mid bg-gray-200 text-gray-700 border border-gray-200 rounded py-1 px-2 mb-1 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                    id="grid-password"
                    name="tipo_sangre"
                    type="text"
                    placeholder="escriba aqui"
                  />
                </div>
              </div>
            </div>
            <h1>Comentarios</h1>
            <textarea
              id="message"
              name="comentarios"
              rows="4"
              class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-graytext-gray-600 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Escriba aquí..."
            ></textarea>
            
            <input type="submit"
              class="w-full mt-7 py-4 bg-blue-200 block text-center"
              value="Enviar formulario"
              />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
