<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
      integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
      crossorigin="anonymous"
    ></script>

    <title>Prueba Socket</title>
  </head>
  <body>
    <form action="" method="post">
      <label for="name">Nombre: </label>
      <input type="text" id="name" name="name" /><br />
      <label for="email">Email: </label>
      <input type="text" id="email" name="email" /><br />
      <label for="password">Contraseña: </label>
      <input type="password" id="password" name="password" /><br />
      <input type="submit" id="send-signup" name="signup" value="Registrar" />
    </form>
    <button onclick="sendAlert()">Alerta</button>
    <p id="estado">Todo tranki</p>
    <br />
    <script>
      var socket = io();

      function sendAlert() {
        socket.emit("alarma");
      }

      socket.on("connect", function () {
        console.log("Conectados madafaka!");
      });

      socket.on("panik", function (res) {
        var element = document.getElementById("estado");
        element.innerHTML = res;
      });

      socket.on("disconnect", function () {
        console.log("Server desconectado");
      });
    </script>
  </body>
</html>
